<div class="todo" (click)="showDesc()">
  <div class="finish">
    <div class="round">
      <input
        type="checkbox"
        [id]="todo?.id"
        [checked]="todo?.completet"
        (change)="handleInput($event)"
        [disabled]="tryToUpdate"
      />
      <label *ngIf="!tryToUpdate" [htmlFor]="todo?.id"></label>
      <label *ngIf="tryToUpdate" [htmlFor]=""></label>
    </div>
  </div>
  <div class="details">
    <div class="head">
      <h3>{{ todo?.title }}</h3>
      <img (click)="routeToUpdate()" src="../../assets/edit.svg"/>
    </div>
    <div class="date">
      <p>Erstellt: {{ todo?.start }}</p>
      <p *ngIf="todo?.deadline != 'NaN:NaN:aN NaN:NaN'">Deadline: {{ todo?.deadline }}</p>
    </div>
    <div *ngIf="description" class="desc">
      <p>Beschreibung:</p>
      <p class="desc">{{ todo?.description }}</p>
    </div>
  </div>
  <button class="delete" (click)="handleDelete()" [disabled]="tryToUpdate">X</button>
</div>
