@import 'src/_var.scss';

h1.title {
  font-size: 4rem;
  color: $clr-sec;
  width: 100%;
  text-align: center;
}

h2.title {
  font-size: 2rem;
  color: $clr-prime;
  width: 100%;
  text-align: center;
}
