<app-header></app-header>
<div class="add-todo">
  <button
    [ngClass]="{ collapse__btn: true, display__none: !showAddForm }"
    (click)="handleAddForm()"
  >
    <img src="../../assets/folder-minus.svg" />
  </button>
  <button
    [ngClass]="{ collapse__btn: true, display__none: showAddForm }"
    (click)="handleAddForm()"
  >
    <img src="../../assets/folder-plus.svg" />
  </button>
  <app-todo-form
    (newTodo)="createTodo($event)"
    [clickedAdd]="tryToAddToDo"
    [creationError]="addToDoError"
    [ngClass]="{ display__none: !showAddForm }"
  ></app-todo-form>
</div>
<div>
  <div>
    <h2 class="title" (click)="handleToDoToggle()">
      Offene Todos <span>({{ getOpenTodos().length }})</span
      ><img *ngIf="showToDos" src="../../assets/chevron-down.svg" /><img
        *ngIf="!showToDos"
        src="../../assets/chevron-up.svg"
      />
    </h2>
  </div>
  <div *ngIf="showToDos" class="todo-list">
    <app-todo-comp
      *ngFor="let todoItem of getOpenTodos()"
      [todo]="todoItem"
      (updateTodo)="handleChange($event)"
      [tryToUpdate]="tryToUpdate"
    ></app-todo-comp>
  </div>
</div>
<div>
  <div>
    <h2 class="title" (click)="handleClosedToDoToggle()">
      Geschlossene Todos <span>({{ getCompletetTodos().length }})</span
      ><img *ngIf="showClosedToDos" src="../../assets/chevron-down.svg" /><img
        *ngIf="!showClosedToDos"
        src="../../assets/chevron-up.svg"
      />
    </h2>
  </div>
  <div *ngIf="showClosedToDos" class="todo-list">
    <app-todo-comp
      *ngFor="let todoItem of getCompletetTodos()"
      [todo]="todoItem"
      (updateTodo)="handleChange($event)"
      [tryToUpdate]="tryToUpdate"
    ></app-todo-comp>
  </div>
</div>
