@import 'src/_var.scss';

h1.title {
  font-size: 4rem;
  color: $clr-sec;
  width: 100%;
  text-align: center;
}

h2.title {
  font-size: 2rem;
  color: $clr-prime;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 2rem;
  }
}


.collapse__btn {
  position: absolute;
  right: 0;
  border: none;
  background-color: transparent;
  padding-top: 1rem;
  img {
    height: 3rem;
  }
}

.display__none {
  display: none;
}

.add-todo {
  min-height: 4rem;
}